.active {
    color: red;
}

nav {
    margin-bottom: 30px;

    .active {
        background-color: #27babf;
    }

    &>* {
        margin: 10px;
        padding: 5px;
        background-color: #5f9ea0;
        text-decoration: none;
        border-radius: 5px;
        color: #fff;


        &:hover {
            background-color: #8dbec0;
            cursor: pointer;
        }
    }
}