:host {
    display: block;
    border-left: 5px;
    border-left-color: green;
    border-left-style: solid;
    padding: 0 10px;
    margin: 10px;
    padding: 5px;
}

span {
    margin: 10px;
}

a {
    text-decoration: none;
    color: inherit;

    &:last-child:hover {
        color: red;
        cursor: pointer;
    }
}