<!-- <h2>{{title}}</h2>

<input #inputElement type="text">
<button (click)="changeTitleHandler(inputElement)">Change</button>

<app-header></app-header>

<p [class.special]="!isSpecial">My CSS classes element test</p>

<ul>  
    <li *ngFor="let user of users">
        {{user.name}}
    </li>
</ul>

<button (click)="buttonClickHandler($event, 'default')">{{showText ? 'Hide' : 'Show'}}</button>
<section *ngIf="showText">
    Now you see me!
</section> -->

<app-header></app-header>

<main>
    <router-outlet></router-outlet>
</main>

<app-footer></app-footer>