<!-- <h2>{{title}}</h2>

<input #inputElement type="text">
<button (click)="changeTitleHandler(inputElement)">Change</button>

<app-header></app-header>

<p [class.special]="!isSpecial">My CSS classes element test</p>

<ul>  
    <li *ngFor="let user of users">
        {{user.name}}
    </li>
</ul>

<button (click)="buttonClickHandler($event, 'default')">{{showText ? 'Hide' : 'Show'}}</button>
<section *ngIf="showText">
    Now you see me!
</section> -->

<app-header></app-header>

<main>
    <!-- <section *ngIf="users$ | async as users; else loading"> -->
    <section *ngIf="users$">
        <!-- The syntax "as users" extracts the data from the stream and makes it available as a local variable-->
        <button (click)="reloadButtonHandler()">Reload</button>
        <app-user-list [userArray]="users$"> </app-user-list>

        <input #searchInput type="text">
        <button (click)="searchButtonHandler(searchInput)">Search</button>
    </section>

    <p *ngIf="!users$">{{message}}</p>
    <!-- <ng-template #loading>
        <p>{{message}}</p>
    </ng-template> -->
</main>

<app-footer></app-footer>